<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/images/favicon2.png">
    <title>History of Electronics</title>
</head>
<body>
       <div class="container">
        <div class="sidebar">
            INTRODUCTION
        </div>
        <div class="main-content">
            <div class="content-text">
                <h1>History of Electronics</h1>
                <p>Electronics is the science of how to control electric energy, energy in which the electrons have a fundamental role. Electronics deals with electrical circuits that involve active electrical components such as vacuum tubes, transistors, diodes, integrated circuits, optoelectronics, and sensors, associated passive electrical components, and interconnection technologies.</p>
                <p>Electronic devices often are used to amplify or modify electromagnetic waves, and to switch electrical energy on or off.</p>
                <p>The type of component used to provide amplification or switching divides the history of electronic devices into three eras:</p>
                <div class="menu-buttons2">
                    <a href="/general_overview/introduction/vacuum_tubes"><button>Vacuum Tubes</button></a>
                    <a href="/general_overview/introduction/solid_state"><button>Solid State</button></a>
                    <a href="/general_overview/introduction/integrated_circuits"><button>Integrated Circuits</button></a>
                </div>
                <p>Each of these eras has had a profound effect on the development of electronics and the devices that have been created.</p>
            </div>
            <div class="image-container ">
                <img src="/images/tube2ic.png" >
                </div>
            <div class="footer">
                <button onclick="window.history.back();">← Back</button>
                <a href="/glossary"><button>Glossary</button></a>
                <a href="/"><button>Home</button></a>
                <a href="/general_overview/introduction/analog_and_digital"><button>Next →</button></a>
            </div>
        </div>
    </div>
</body>
</html>