<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/favicon.png">
    <title>Medium Scale Devices</title>
    <style>
        
        .container {
            max-width: 900px;
            margin: auto;
            background: #ffffff;
            box-shadow: 0 0 15px rgba(0,0,0,0.1);
            border-radius: 10px;
            border: 2px solid #e0e0e0;
            padding: 20px;
            overflow: hidden;
        }
        

    </style>
</head>
<body>

    <div class="container">
        <div class="sidebar">
            INTRODUCTION
        </div>
        <div class="main-content">
            <div class="content-text">
                <h1>Medium Scale Devices</h1>
                <p>As technology in the semiconductor industry advanced, the complexity of integrated circuits increased. Medium-scale chips contain many gates on the substrate, interconnected to perform more complex functions, such as encoders and multiplexers. These chips include 10 to 100 gate equivalents per chip. A computer keyboard is an example of a device that uses medium-scale integration.</p>
            </div>
            <div class="image-container">
                <img src="/images/msi.png" alt="Medium Scale Device">
            </div>
            <div class="footer">
                <a href="/general_overview/introduction/integrated_circuit_development"><button>Back</button></a>


                <p>Next: <a href="/general_overview/introduction/large_scale_devices"><button>Large Scare Devices</button></a></p>
            </div>
        </div>

            </div>
        </div>
    </div>
</body>
</html>
