<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/images/favicon.png">
    <title>Learning Objectives</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h1>Objectives</h1>
        </div>
        <div class="main-content">
            <h2>Learning Objectives</h2>
            <div class="content-text">
                <p>By the end of this section, you will be able to:</p>
                <ul>
                    <li><strong>Identify</strong> three key stages in the history of electronics.</li>
                    <li><strong>Explore</strong> four stages in the development of integrated circuits.</li>
                    <li><strong>Understand</strong> three advantages of integrated circuits over discrete components.</li>
                    <li><strong>Recognize</strong> two types of IC devices that are currently in use.</li>
                    <li><strong>Identify</strong> typical applications of semiconductor devices.</li>
                </ul>
            </div>
            <div class="footer">
                <a href="/general_overview/introduction"><button>Back</button></a>
                <div class="footer-text">
                    <p>Next: <a href="/general_overview/introduction/electricity_electronics"><button>Electricity & Electronics</button></a></p>
                
            </div>
        </div>
    </div>
</body>
</html>