<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/favicon.png">
    <title>Solid State</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            INTRODUCTION
        </div>
        <div class="main-content">
            <div class="content-text">
                <h1>Solid State Technology</h1>
                <p>The advent of reliable semiconductor-based electronic devices has significantly impacted our lives. Today, we often take for granted the tiny, powerful, and inexpensive electronic gadgets that have become integral to our daily routines. However, this wasn't always the case.</p>
                <p>Prior to the 1950s, electronic devices relied on vacuum tubes, which were large, fragile, and power-hungry. Moreover, they were notoriously unreliable. The introduction of transistors marked a revolutionary change. As the first solid-state electronic devices, transistors were smaller, more reliable, and required far less power. This innovation laid the groundwork for the modern electronics industry.</p>
                <p>Transistors were pivotal in developing the integrated circuit, the fundamental building block of all modern electronic devices. Thanks to integrated circuits, electronic devices today are not only compact and powerful but also remarkably affordable. These advancements are what enable technologies such as the Internet, smartphones, and now A.I...</p>
                <p>But it all began with the transistor. Let’s delve deeper into the transistor era:</p>
                <ul>
                    <li>What was it like?</li>
                    <li>What were the key events and technologies?</li>
                </ul>
                <p>Explore these questions by clicking the buttons below to navigate through the transistor era.</p>
                <p>Enjoy the journey, and remember, the transistor era was just the beginning. There is much more to explore and discover. Stay tuned!</p>
                <p>By the 1950s, the limitations of vacuum tube technology had become apparent. A new, more reliable type of component was necessary. In 1947, scientists at Bell Laboratories demonstrated a groundbreaking device: a solid-state amplifier made from germanium. This device, known as the transistor, offered the same functionality as a vacuum tube but was significantly smaller, more reliable, and consumed less power.</p>
                <p>The 1950s thus became known as the age of the transistor.</p>
            </div>
            <div class="image-container">
            </div>
            <div class="button-container">
                <a href = "https://en.wikipedia.org/wiki/Transistor" target="_blank"><img src="/images/first_transistor.png" alt="Transistor" style="border-radius: 10px;">
                </a>
                <video id="tubeVideo" controls style="border-radius: 10px;">
                    <source src="/videos/1950S.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <p></p>
            </div>
            <div class="footer">
                <a href="/general_overview/introduction/history_electronics"><button>Back</button></a>
                <div class="footer-text">
                    <p>Next: <a href="/general_overview/introduction/integrated_circuits"><button>Integrated Circuits</button></a></p>
            </div>
            </div>
        </div>
    </div>
</body>
</html>
