<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles2.css">
    <link rel="icon" href="/images/favicon2.png">
    <title>General Overview</title>
    
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h1>General Overview</h1>
        </div>
        <div class="main-content">
            <h3>Table of Contents</h3>
            <h4>Please Select from the Chapter List</h4>
            <div class="menu-buttons2">
                <a href="/general_overview/introduction"><button>Chapter 1: Introduction</button></a>
                <p>More chapters coming soon...</p>
                <!-- <a href="/general_overview/measurements"><button>Chapter 2: Semiconductor Processing Measurements</button></a> TODO -->
                <!-- <a href="/general_overview/material"><button>Chapter 3: Principles of Semiconductor Material</button></a> TODO -->
                <!-- <a href="/general_overview/fabrication"><button>Chapter 4: Integrated Circuit Fabrication</button></a> TODO -->
                <!-- <a href="/general_overview/fundamentals"><button>Chapter 5: Solid-state Device Fundamentals</button></a> TODO -->
            </div>
            <div class="footer">
                <a href="/"><button>Main Menu</button></a>
                <a href="/glossary"><a href="/glossary"><button>Glossary</button></a></a>
            </div>
        </div>
    </div>
</body>
</html>
