<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles2.css">
    <link rel="icon" href="/images/favicon2.png">
    <title>Semiconductor Processing Overview</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h1>Semiconductors Processing Overview</h1>
            <p>Welcome to the Semiconductor Processing Overview. Start your journey into the world of semiconductor technology by choosing from the modules below.</p>
        </div>

        <div class="image-container">
            <img src="/images/index.png" alt="Semiconductor Processing Overview">
        </div>
       
        <div class="blue-buttons">
            <a href="/general_overview" class="button">Start Learning</a>
            <a href="/about_spo" class="button">About SPO</a>
         </div>
        
        <div class="main-content">
        <h2>Main Menu:</h2>
            <div class="grey-buttons">
                <h2>Learning Modules:</h2>
                <a href="/general_overview" class="button">General Overview: Gain a foundational understanding of semiconductor processes and industry applications.</a>
                <a href="/technical_overview" class="button">Technical Overview: Dive deeper into the technical aspects of semiconductor device fabrication and materials science.</a>
            </div>
            
                <div class="spacer"></div> <!-- This div acts as a spacer -->

            <div class="grey-buttons">
                <h2>Course Resources:</h2>
                <a href="/course_overview" class="button">Course Overview: Understand the course structure and explore key learning objectives.</a>
                <a href="/glossary" class="button">Glossary: Access a comprehensive glossary of terms used throughout the course.</a>
            </div>
        </div>
            </div>
        </div>
    </div>
</body>
</html>
