<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semiconductor Processing Overview</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/images/favicon.png">
</head>
<body>
    <div class="container">
        <header class="sidebar">
            <h1>Semiconductor Processing Overview</h1>
            <p>Welcome to the Semiconductor Processing Overview. Start your journey into the world of semiconductor technology...</p>
        </header>
        <section class="image-container">
            <img src="/images/semiconductor_wafer.jpg" alt="Semiconductor Wafer">
        </section>
        <nav class="blue-buttons">
            <a href="/general_overview" class="button">Start Learning</a>
            <a href="/about_spo" class="button">About SPO</a>

           
        
        <footer>
            <p>&copy; 2024 Semiconductor Processing Overview</p>
            <p>v{{ version }}</p>
        </footer>
    </nav>
    </div>
</body>
</html>