<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles2.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/favicon2.png">
    <title>Large-Scale Devices</title>
</head>
<body>
   
    <div class="container">
        <div class="sidebar">
            INTRODUCTION
        </div>
        <div class="main-content">
            <div class="content-text">
                <h1>Large Scale Devices</h1>
                <p>Large-scale integration involves even more gates and performs entire blocks of circuit functions. LSI devices contain 100 to 1000 gate equivalents per chip. First-generation microprocessors and memory are examples of large-scale devices. Cellular phones use large-scale integration.</p>
                <p>Large-scale
                    integration (LSI) is the process of integrating or embedding thousands of transistors on a single silicon semiconductor microchip. LSI technology was conceived in the mid-1970s when computer processor microchips were under development. The development of LSI technology led to the development of very large-scale integration (VLSI) technology, which involves the integration of over 100,000 components on a single chip. LSI technology is used to create electronic circuits for computers, telecommunications equipment, and other electronic devices. LSI technology is also used in the design of specific types of integrated circuits, such as memory chips and microprocessors.</p>
                <p>LSI technology is used to create electronic circuits for computers, telecommunications equipment, and other electronic devices. LSI technology is also used in the design of specific types of integrated circuits, such as memory chips and microprocessors. LSI technology is used to create electronic circuits for computers, telecommunications equipment, and other electronic devices. LSI technology is also used in the design of specific types of integrated circuits, such as memory chips and microprocessors.</p>
            </div>
            <div class="image-container">
                <img src="/images/cellphone.png" alt="Large Scale Device">
            </div>
            <div class="footer">
                <a href="/general_overview/introduction/integrated_circuit_development"><button>Back</button></a>
                <a href="/glossary"><button>Glossary</button></a>
                <div class="page-number">Page 14 of 16</div>
                <a href="/general_overview/introduction/medium_scale_devices"><button>&#9664;</button></a>
                <a href="/"><button>Home</button></a>
                <a href="/general_overview/introduction/very_large_scale_devices"><button>Next</button></a>
            </div>
        </div>
    </div>
</body>
</html>
