<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Semiconductor Processing Overview</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="icon" href="/static/images/favicon2.png">
    </head>

<body>
    <div class="container">
        
    <div>
    <header class="sidebar">
        <h1>Semiconductor Processing Overview</h1>
        <p>Welcome to the Semiconductor Processing Overview. Start your journey into the world of semiconductor technology by choosing from the modules below.</p>
    </header>
    </div>

        <section class="image-container">
            <img src="/images/semiconductor_wafer.jpg" alt="Semiconductor Wafer">
        </section>

        <section class="main-content">
            <h2>Main Menu:</h2>

            <article class="grey-buttons">
                <h3>Learning Modules:</h3>
                <ul>
                    <li>
                        <a href="/general_overview" class="button">General Overview</a>
                        <p>Gain a foundational understanding of semiconductor processes and industry applications.</p>
                    </li>
                    <li>
                        <a href="/technical_overview" class="button">Technical Overview</a>
                        <p>Dive deeper into the technical aspects of semiconductor device fabrication and materials science.</p>
                    </li>
                </ul>
            </article>

            <article class="grey-buttons">
                <h3>Course Resources:</h3>
                <ul>
                    <li>
                        <a href="/course_overview" class="button">Course Overview</a>
                        <p>Understand the course structure and explore key learning objectives.</p>
                    </li>
                    <li>
                        <a href="/glossary" class="button">Glossary</a>
                        <p>Access a comprehensive glossary of terms used throughout the course.</p>
                    </li>
                </ul>
            </article>
        </section>
    </main>
    </div>
</body>
<footer style="text-align: center;">
</footer>
</html>
