<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>{{content.title}}</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h1>{{content.title}}</h1>
            <button class="exit-btn">Exit</button>
        </div>
        <div class="main-content">
            <h2>{{content.title}}</h2>
            <div class="content-text">
                {{content.text}}
            </div>
            <div class="footer">
                <a href="/general_overview/introduction"><button>INDEX</button></a>
                <button>Glossary</button>
            </div>
        </div>
    </div>
</body>
</html>
