<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles2.css">
    <link rel="icon" href="/images/favicon2.png">
    <title>Vacuum Tubes</title>
    
</head>
<body>
    <div class="container">
        <div class="sidebar">
            INTRODUCTION
        </div>
        <div class="main-content">
            <div class="content-text">
                <h1>Vacuum Tubes</h1>
                <p>The age of electronics began with the invention of the vacuum tube.</p>
                <p>Vacuum tubes are able to control a large current flow with a small voltage.</p>
                <p>Amplification provides the basis of electronics.</p>
                <p>During the first half of the 20th century vacuum tubes were the primary components of electronic devices.</p>
                <p>Although tubes allowed great advances, they were limited by three factors:</p>
                <ul>
                    <li><strong>Tubes are large</strong></li>
                    <li><strong>Tubes have a short lifetime</strong></li>
                    <li><strong>Tubes require large amounts of power</strong></li>
                </ul>
            </div>
        </div>
        <div class="button-container">
            <video id="tubeVideo" controls>
                <source src="/videos/1930S.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p></p>
            <img src="/images/tubes.png" alt="Vacuum Tube">
        </div>
        <div class="footer">
            <a href="/general_overview/introduction/history_electronics"><button>Back</button></a>
            <a href="/glossary"><button>Glossary</button></a>
            <div class="page-number">Page 5 of 16</div>
            <a href="/"><button>Home</button></a>
            <a href="/general_overview/introduction/solid_state"><button>Next</button></a>
        </div>
    </div>
</body>
